.acf-field-object-accordion,
.field_type-accordion{
    background: #f0f0f0 !important;
}

.acf-field-object-accordion .li-field-name,
.field_type-accordion .field_name
{
    text-indent: -9999px;
}

.acf-field-object-accordion tr[data-name="name"],
.acf-field-object-accordion tr[data-name="required"],
.acf-field-object-accordion tr[data-name="instructions"],
.acf-field-object-accordion tr[data-name="wrapper"],
.field_type-accordion tr.field_name,
.field_type-accordion tr.field_instructions
{
    display: none;
}


