.field_type-accordion .dashicons-before{
    color: red;
    line-height: 20px;
    font-weight: bold;
    text-indent: -20px;
    margin-left: 32px;
}

.field_type-accordion .dashicons-before span{
    color: #000000;
}

.field_type-accordion {
    cursor: pointer;
    position: relative;
}

.field_type-accordion .label {
    display: none !important;
}

.field_type-accordion:hover,
.field_type-accordion.active {
    background: #ebebeb
}

.field_type-accordion:hover:before,
.field_type-accordion.active:before {
    content: "+";
    color: #ccc;
    position: absolute;
    right: 29px;
    font-size: 41px;
    font-weight: bold;
    top: 34px;
}

.field_type-accordion.active:before {
    content: "-";
    top: 31px;
}